[Unit]
Description=wfb_supervisor control daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=@WFB_SUPERVISOR_BIN@ @WFB_SUPERVISOR_CONF@
WorkingDirectory=@VRX_DIR@
User=root
Group=root
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
